# 忽略所有 android 內容
android/**

# 但保留必要的檔案
!android/app/build.gradle.kts
!android/app/src/main/AndroidManifest.xml
!android/app/src/main/kotlin/**

# 忽略 build
build/
.dart_tool/
.pub/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# 忽略 IDE 和系統檔
.idea/
.vscode/
*.iml

# 忽略環境設定與機敏資訊
.env
*.log

# 忽略 mac/windows/linux/web 編譯目錄（如不使用）
macos/
linux/
windows/
web/

ios/
linux/
macos/
test/
web/
windows/
.metadata
pubspec.lock
README.md
analysis_options.yaml